// Filters
// The number of filter options
@filter-number: 8;

.filter {
  .filter-nav {
    margin: @layout-margin 0;
  }

  .filter-body {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-tag {
    each(range(0, @filter-number), {
      &#tag-@{value}:checked ~ .filter-nav .chip[for="tag-@{value}"] {
        background: @primary-color;
        color: @light-color;
      }
    })

    each(range(1, @filter-number), {
      &#tag-@{value}:checked ~ .filter-body .filter-item:not([data-tag~="tag-@{value}"]) {
        display: none;
      }
    })
  }
}