.home {
  min-height: 100vh;

  .splash {
    min-height: 90vh;

    .hero {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      min-height: 90vh;
      max-width: @size-md;
      margin: 0 auto;

      h1 {
        font-size: 8rem;
        line-height: 0.5;

        big {
          color: @primary-color;
          font-weight: 800;
          line-height: 1;
          position: relative;
          top: 1.2rem;
          left: -1%;
        }

        small {
          color: @body-font-color;
          font-weight: bold;
          font-size: 40%;
        }
      }
    }

  }

  .btn-action {
    position: fixed;
    right: 5%;
    bottom: 5%;
    .shadow-variant(.4rem);
  }
}
