.portfolio-project {
  .container {
    padding-top: @layout-padding-xl;
    padding-bottom: @layout-padding-xl;
  }
  .project-gallery {
    .card {
      margin-bottom: @layout-padding-xl;
    }

  }
  .project-info {
    flex: 0 0 @sidebar-width;
    .card {
      position: fixed;
      width: @sidebar-width - 2*@layout-padding;

      .card-title {
        font-size: 2.4rem;
        margin-bottom: @layout-margin;
      }
    }
  }
}