.portfolio-project {
  .project {
    padding-top: @layout-padding-xl;
    padding-bottom: @layout-padding-xl;
  }
  .project-gallery {
    .card {
      margin-bottom: @layout-margin;
      &:hover {
        cursor: zoom-in;
      }
    }
  }
  .project-info {
    flex: 0 0 @sidebar-width;
    .card {
      position: fixed;
      width: @sidebar-width - 2*@layout-padding;

      .card-title {
        font-size: 2.4rem;
        margin-bottom: @layout-margin;
      }
    }
  }

  @media screen and (max-width: @size-md ) {
    .project-info {
      flex: none;
      .card {
        position: unset;
        width: unset;
      }
    }
  }

// Maximization

@media screen and (min-width: 1+@size-md ) {

    .project-gallery {
      .card:hover {
        cursor: zoom-in;
      }
    }

    &.gallery-maximized {

      .project-gallery {
        .card:hover {
          cursor: zoom-out;
        }
      }

      .project-info {
        display: none;
      }
    }
  }
}