footer {
  .flex;

  min-width: 100%;
  max-height: @footer-height;

  background: @bg-color-dark;
  // color: @light-color;

  font-size: @font-size - 0.2rem;

  padding: @layout-padding/4 @layout-gutter;

  justify-content: space-between;

  .brand {
    svg {
      height: 2rem;
    }
  }

  .social {
    .list-inline;
    > li {
      padding: 0;
    }
    a {
      height: 2rem;
      padding: .1rem .4rem;
    }
  }
}